<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.7/js/dataTables">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">POS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="register.html">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="product.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sales.html">Sales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" id="app">
            <form name="form" @submit.prevent="addproduct">
                <div class="mb-3">
                    <label for="userid" class="form-label">User ID</label>
                    <input type="text" v-model="userid" class="form-control" id="userid">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" v-model="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" v-model="amount" class="form-control" id="amount">
                </div>
                <button type="submit" class="btn btn-primary">Add Product</button>
            </form>

            <div class="alert alert-success" v-if="alertSuccessShow" role="alert">
                {{alertMessage}}
            </div>
            <div class="alert alert-danger" v-if="alertErrorShow" role="alert">
                {{alertMessage}}
            </div>

            <table id="example" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User_ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">created_at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.user_id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{product.amount }}</td>
                        <td>{{product.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"
            integrity="sha512-Pa4Jto+LuCGBHy2/POQEbTh0reuoiEXQWXGn8S7aRlhcwpVkO8+4uoZVSOqUjdCsE+77oygfu2Tl+7qGHGIWsw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js"
            integrity="sha512-Wx8niGbPNCD87mSuF0sBRytwW2+2ZFr7HwVDF8krCb3egstCc4oQfig+/cfg2OHd82KcUlOYxlSDAqdHqK5TCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.js"
            integrity="sha512-+dJa1RvuE8/HFftifMtr7hqixdEkb/DizfXUZAA0pyZeVdNnyZyKy9RnIWi0JSWUznbCNbaQNn0E6nbtrdL+9g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
            integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
            crossorigin="anonymous"></script>
        <script>
            new Vue({
                el: "#app",
                data: {
                    pid: "",
                    userid: "",
                    name: "",
                    amount: "",
                    alertSuccessShow: false,
                    alertErrorShow: false,
                    alertMessage: "",
                    products: [],
                },

                mounted() {
                    this.getProducts();
                },

                methods: {
                    getProducts() {
                        axios.get("http://127.0.0.1:5000/products")
                            .then((response) => {
                                this.products = response.data;

                                this.$nextTick(() => {
                                    $('#example').DataTable();
                                });
                            })
                            .catch((error) => {
                                this.alertErrorShow = true;
                                this.alertMessage = "Failed to fetch products";
                            });
                    },

                    addproduct() {
                        if (this.userid == "" || this.name == "" || this.amount == "") {
                            this.alertErrorShow = true;
                            this.alertMessage = "Ensure all fields are filled!!!";
                            return;
                        }

                        axios.post("http://127.0.0.1:5000/products", {
                            user_id: this.userid,
                            name: this.name,
                            amount: this.amount
                        })
                            .then((response) => {
                                this.alertErrorShow = false;
                                this.alertSuccessShow = true;
                                this.alertMessage = "Product added";

                                this.getProducts();
                            })
                            .catch((error) => {
                                this.alertErrorShow = true;
                                this.alertSuccessShow = false;
                                this.alertMessage = "Error adding product";
                                console.log(error.response.data);
                            });
                    }
                }
            });
        </script>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>



</html>